<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Посты юзера</title>
    </head>
    <body>
        <a href="{% url 'show_user' current_registered_user.id %}"><h1>Аккаунт юзера {{ current_registered_user.login }}!</h1></a>
        <h2>{{ current_registered_user.name }} {{ current_registered_user.surname }} {{ current_registered_user.fathers_name }}</h2>
        <h3>Ну-ка че он там написюкал:</h3>
        {% for user_post in current_user_posts %}
        <a href = "{% url 'current_post' current_registered_user.id user_post.id %}"><h4>{{ user_post.title }} :: {{ user_post.datetime }}</h4></a>
        <p><pre>{{ user_post.content }}</pre></p>
        <p>♡ {{ user_post.amount_likes }}</p><hr><br>
        
        {% endfor %}
        
    </body>
</html>