<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"}>
        <title>Страничка юзера</title>
    </head>
    <body>
        <h1>Любопытен {{ current_registered_user.login }}?</h1>
        <a href="{% url 'one_user_posts' current_registered_user.id %}">Его посты</a>
        <h3>Информация о пользователе:</h3>
        <p>Имя: {{ current_registered_user.name }}</p>
        <p>Фамилия: {{ current_registered_user.surname }}</p>
        <p>Отчество: {{ current_registered_user.fathers_name }}</p>
        <p>Возраст: {{ current_registered_user.age }}</p>
        <p>Почта: {{ current_registered_user.email }}</p>
        <a href="{% url 'all_users' %}">К друзьям</a>
    </body>
</html>