<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Посты юзера</title>
    </head>
    <body>
        <a href="{% if current_registered_user.custom_url %}{% url 'show_user' current_registered_user.custom_url %}{% else %}{% url 'show_user' current_registered_user.id %}{% endif %}"><h1>Приветик, {{ current_registered_user.login }}!</h1></a>
        <h2>{{ current_registered_user.name }} {{ current_registered_user.surname }} {{ current_registered_user.fathers_name }}</h2>
        <h3>Посты:</h3>
        <a href = "{% if current_registered_user.custom_url %}{% url 'addpost' current_registered_user.custom_url %}{% else %}{% url 'addpost' current_registered_user.id %}{% endif %}">Написать</a>
        {% for user_post in current_user_posts %}
        <a href = "{% if current_registered_user.custom_url %}{% url 'current_post' current_registered_user.custom_url user_post.id %}{% else %}{% url 'current_post' current_registered_user.id user_post.id %}{% endif %}"><h4>{{ user_post.title }} :: {{ user_post.datetime }}</h4></a>
        <p><pre>{{ user_post.content }}</pre></p>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="like" value="{{ user_post.id }}">♡{{ user_post.amount_likes }}</button>
        </form>
        <hr><br>
        
        {% endfor %}
        
    </body>
</html>