<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Пользователи сайта</title>
    </head>
    <body>
        <h1>Список продвинутых пользователей smallserver!</h1>
        {% for user in all_registered_users %}
        <a href="{% if user.custom_url %}{% url 'show_user' user.custom_url %}{% else %}{% url 'show_user' user.id %}{% endif %}">
            <h4>
            {% if user.image %}
            <img src="{{ user.image.url }}" alt="connect" style="max-height:30px; border-radius: 50%;">
            {% endif %}
            {{ user.login }} {{ user.name }} {{ user.surname }}</h4></a><hr><br>
        {% endfor %}
    </body>
</html>