<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Загрузка аватарки</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Загрузить</button>
    </form>

    {% if current_registered_user.image %}
    <img src="{{ current_registered_user.image.url }}" alt="connect" style="max-height:100px; border-radius: 50%;">
    {% endif %}
    <a href="{% if current_registered_user.custom_url %}{% url 'show_user' current_registered_user.custom_url %}{% else %}{% url 'show_user' current_registered_user.id %}{% endif %}">
        <p>Назад на страницу</p>
    </a>
   
</body>

</html>